/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap');

/* remove default styles */
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

/* base styles */
body {
    color: #252525;
    background-color: #f3e7e4;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

/* ****************************** mobile styles ****************************** */
/* header styles */
header * {
    background-color: #e7d1c9;
}

#logo {
    flex-direction: row;
}

#logo-image {
    height: 70px;
    width: auto;
    padding-top: 5px;
}

#logo-text {
    align-items: flex-start;
    padding-top: 10px;
}

#logo-name {
    font-family: Quicksand, sans-serif;
    padding-top: 10px;
    font-size: 30px;
}

#logo-name a {
    color: #252525;
}

#tagline {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
}

#navigation {
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    width: 100%;
}

#navigation a {
    color: #252525;
    padding: 2px 8px;
}

#navigation a:hover {
    background-color: #cacbb9;
    box-shadow: 2px 5px #bdbfa8;
    border: 1px solid #cacbb9;
    border-radius: 20px;
}

/* top section styles */
#top-text, #meet-ups {
    text-align: center;
    align-self: center;
    line-height: 25px;
    margin-bottom: 15px;
}

#top-text h2 {
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    padding: 10px 0;
}

#meet-ups h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

#meet-two, #meet-three {
    display: none;
}

.button {
    color: #252525;
    font-family: "Source Sans Pro", sans-serif;
    align-self: center;
    padding: 5px 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    border: 1px solid #252525;
    border-radius: 20px;
}

#top-button {
    background-color: #e7d1c9;
    border: 1px solid #e7d1c9;
}

#top-button:hover {
    background-color: #252525;
    color: #e7d1c9;
    border: 1px solid #252525;
}

/* middle section styles */
#middle-section {
    background-color: #d7d8ca;
}

#middle-text {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    padding: 20px;
}

#middle-text h2 {
    line-height: 25px;
    font-family: Quicksand, sans-serif;
    padding-bottom: 5px;
}

.extra-text {
    display: none;
}

#middle-text p {
    line-height: 25px;
}

#last-paragraph {
    padding: 5px 0 15px 0;
}

#middle-button {
    background-color: #f3e7e4;
    border: 1px solid #f3e7e4;
}

#middle-button:hover {
    background-color: #252525;
    color: #f3e7e4;
    border: 1px solid #252525;
}

/* lower section styles */
#lower-text {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    padding: 20px;
}

#lower-text h2 {
    font-family: Quicksand, sans-serif;
    line-height: 25px;
}

#lower-text h3, #lower-text li {
    font-weight: 400;
}

#lower-text li {
    margin-bottom: 15px;
}

#lower-button {
    background-color: #e7d1c9;
    border: 1px solid #e7d1c9;
}

#lower-button:hover {
    background-color: #252525;
    color: #e7d1c9;
    border: 1px solid #252525;
}

/* footer styles */
#footer {
    flex-direction: row;
    align-items: flex-end;
    height: 30px;
    width: 100%;
    padding-top: 20px;
    background-color: #e7d1c9;
}

#footer-list {
    flex-direction: row;
    margin-right: 20px;
}

#footer-list i {
    padding: 10px;
    font-size: 25px;
    align-self: flex-end;
    color: #252525; 
}

#statement {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 11px;
    text-align: center;
    padding-bottom: 5px;
    background-color: #e7d1c9;
}

/* ****************************** tablet styles ****************************** */
@media only screen and (min-width: 601px) {
    body {
        width: 680px;
        margin: 0 auto;
    }
}
